<VirtualHost *:80>
  ServerName {{ web_server_name }}
  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule ^/(.*)$ https://%{SERVER_NAME}/$1 [L,R,NE]
</VirtualHost>

PassengerMaxPoolSize {{ passenger_max_pool_size}}

<VirtualHost *:443>
   ServerName {{ web_server_name }}
   SSLEngine on
   SSLProtocol all -SSLv2 -SSLv3
   SSLCipherSuite ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
   SSLHonorCipherOrder on

   SSLCertificateFile /etc/pki/tls/certs/{{ web_server_name }}.cert
   SSLCertificateKeyFile /etc/pki/tls/certs/{{ web_server_name }}.key

   {% if apache_virtualhost_lines %}
     {% for line in apache_virtualhost_lines %}
       {{ line }}
     {% endfor %}
   {% endif %}

   # Be sure to point to 'public'!
   DocumentRoot /opt/{{project_name}}/current/public
   <Directory /opt/{{project_name}}/current/public>
      RackEnv {{passenger_app_env}}
      PassengerRuby /usr/local/rvm/gems/{{ruby}}/wrappers/ruby
      PassengerMinInstances {{ passenger_min_instances }}
      # Relax Apache security settings
      AllowOverride all
      Options FollowSymLinks
      Require all granted
      # MultiViews must be turned off
      Options -MultiViews
   </Directory>

   <FilesMatch "\.json">
        SetEnvIf Accept "application/ld\+json" WANTS_jsonld
        Header set Content-Type "application/ld+json" env=WANTS_jsonld
        Header append Link '<http://iiif.io/api/image/2/context.json>;rel="http://www.w3.org/ns/json-ld#context";type="application/ld+json"' env=!WANTS_jsonld
    </FilesMatch>

</VirtualHost>
